.encabezado{
    
    height: 60px;
    background-color:#417387;
    align-items: center;
    padding: 2rem 2rem ;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
    
    
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logohead{
    
    text-align: left;
    height: 70px;
    margin-left: 30px;
    
}


.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}

.menu ul li a:hover{
    background-color: #417387;
    color: white;
    
}

.botones{
    text-decoration: none;
    background:#60A4BF;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}